<!DOCTYPE html>
<html>
<head>
  <title>Booktour</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<a href="/static_pages/about">About Us</a>
<a href="/static_pages/contact">Contact Us</a>
<%= yield %>
<div>Copyright 2014</div>

</body>
</html>
